---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
      {% endif %}
    </time>
  </div>

  <div id="notes-entry-container">
    <content>
      {{ content }}
      <p>This line appears after every note.</p>
    </content>

    <side style="font-size: 0.9em">
      {% assign current_labels = page.labels %}
      {% assign label_count = current_labels.size %}
      {% if label_count > 0 %}
        <h3 style="margin-bottom: 1em">Other {{ current_labels[0] }} notes</h3>
        {% assign related_notes = site.notes | where: "labels", current_labels[0] %}
        
        {% if related_notes.size > 0 %}
          <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
            {% for note in related_notes %}
              {% unless note.url == page.url %} <!-- Exclude the current note -->
                <div class="backlink-box">
                  <a class="internal-link" href="{{ site.baseurl }}{{ note.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ note.title }}</a><br>
                  <div style="font-size: 0.9em">{{ note.excerpt | strip_html | truncatewords: 20 }}</div>
                </div>
              {% endunless %}
            {% endfor %}
          </div>
        {% else %}
          <div style="font-size: 0.9em">
            <p>There are no other {{ current_labels[0] }} notes.</p>
          </div>
        {% endif %}
      {% else %}
        <h3 style="margin-bottom: 1em">Other notes</h3>
        <p>No labels available for this note.</p>
      {% endif %}
    </side>

    
  </div>
</article>