---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
      {% endif %}
    </time>
  </div>

  <div id="notes-entry-container">
    <content>
      {{ content }}
      <p></p>
    </content>

    <!-- ############################## -->
     <side style="font-size: 0.9em">
  {% if page.labels and page.labels.size > 0 %}
    {% for label in page.labels %}
      <h3 style="margin-bottom: 1em">Other {{ label }} notes</h3>

      {% assign related_notes = site.notes | where: "labels", label %}
      {% assign has_related = false %}

      <div style="display: grid; grid-gap: 1em;">
        {% for note in related_notes %}
          {% unless note.url == page.url %}
            {% assign has_related = true %}
            <div class="backlink-box">
              <a class="internal-link" href="{{ site.baseurl }}{{ note.url }}{% if site.use_html_extension %}.html{% endif %}">
                {{ note.title }}
              </a>
            </div>
          {% endunless %}
        {% endfor %}
      </div>

      {% unless has_related %}
        <p style="font-size: 0.9em">There are no other {{ label }} notes.</p>
      {% endunless %}
    {% endfor %}
  {% else %}
    <h3 style="margin-bottom: 1em">Other notes</h3>
    <p>No labels available for this note.</p>
  {% endif %}
</side>

    

    
  </div>
</article>